<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/fondo.css">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="efecto">
            <img src="/images/logo.png" style="--i:11;" alt="">
            <img src="/images/logo.png" style="--i:12;" alt="">
            <img src="/images/logo.png" style="--i:13;" alt="">
            <img src="/images/logo.png" style="--i:13;" alt="">
            <img src="/images/logo.png" style="--i:17;" alt="">
            <img src="/images/logo.png" style="--i:18;" alt="">
            <img src="/images/logo.png" style="--i:15;" alt="">
            <img src="/images/logo.png" style="--i:13;" alt="">
            <img src="/images/logo.png" style="--i:12;" alt="">
            <img src="/images/logo.png" style="--i:05;" alt="">
            <img src="/images/logo.png" style="--i:11;" alt="">
            <img src="/images/logo.png" style="--i:12;" alt="">
            <img src="/images/logo.png" style="--i:13;" alt="">
            <img src="/images/logo.png" style="--i:15;" alt="">
            <img src="/images/logo.png" style="--i:11;" alt="">

</body>
</html>