<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>3D World</title>
</head>

<body>
    <header>
        <a href="/"><img class="logo_header" src="images/logo.png" alt="Logo"></a>
        <form id="busquedaylupa">
            <input class="buscador" type="text" placeholder="Que desea buscar">
            <button id="botonLupa"><i class="fas fa-search"></i> <!-- ICONO DE LUPA --></button>
        </form>
        <div>
            <a href="/login" id="enlaceLogin"><i class="fas fa-user-plus"></i></a>
            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </header>

    <article class = "cuerpo">
        <div class = "botones">
            <p>
                <button class="inicio">inicio</button>
            </p>

            <p>
                <button class="Trabajos">Trabajos</button>
            </p>

            <p>
                <button class="Plasticos">Plasticos</button>
            </p>

            <p>
                <button class="Nosotros">Nosotros</button>
            </p>
        </div>
        
        
    </article>

    <div class="carruselHome">
        <img src="../images/carrusel/carrusel_3.webp" alt="img-3 "class ="img-3">
    </div>
    <footer>

        <div class="foter">
            <img class="logo_footer" src="images/logo.png" alt="Logo">

            <div class="redes_sociales">
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                <a href="https://www.google.com/intl/es-419/gmail/about/"><i class="far fa-envelope"></i></a>
                <a href="https://www.whatsapp.com/?lang=es_LA"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>



        <div class="terminos">
            <a href="">Acerca</a>
            <a href="">Ayuda</a>
            <a href="">Terminos</a>
            <a href="">Privacidad</a>
        </div>

    </footer>
    <main>

    </main>

    <!-- <footer>
        <img class="logo_footer" src="images/logo.png" alt="Logo">
    </footer> -->
</body>

</html>