<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <title>3D World</title>
</head>

<body>
    <%- include('./partials/header.ejs')  %>


     <div class="contenedor"> 
      <article class = "cuerpo">
        <div class="slider-container">  
      <ul>
          <li>
              <img
              class="slider-item"  src="../images/plasticos/home1.jpg"/>
          </li>  
          <li>
              <img
              class="slider-item" src="../images/plasticos/home2.jpg"/>
          </li>
          <li>
            <img class="slider-item" src="../images/plasticos/home3.jpg"/>
          </li>
          <li>
            <img class="slider-item"src="../images/plasticos/home4.jpg"/>
          </li>
          <li>
            <img class="slider-item" src="../images/plasticos/home5.jpg"/>
          </li>
       </div>  
           </ul>   
           <div class="texto-bienvenida">
            <h1>Bienvenido a 3D World</h1>
            <p>Explora nuestro fascinante mundo de llaveros. Te ofrecemos una amplia variedad de llaveros impresos 3D únicos y personalizados adaptandonos perfectamente a tu estilo.</p>
        </div>
   <div class = "botones">
            <p>
                <a href=""><button class="inicio">Inicio</button></a>
            </p>

            <p>
                <a href="/product"><button class="Trabajos">Productos</button></a>
            </p>

            <p>
                <a href="/plasticos"><button class="Plasticos">Plasticos</button></a>
            </p>

            <p>
                <a href="/nosotros"><button class="Nosotros">Nosotros</button></a>
            </p>
  </div>      
    </article>

    </div>
    <%- include('./partials/footer')  %>

</body>

</html>