<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>3D World</title>
</head>

<body>
    <%- include('./partials/header.ejs')  %>
    <article class = "cuerpo">
        <div class = "botones">
            <p>
                <a href=""><button class="inicio">Inicio</button></a>
            </p>

            <p>
                <a href="/product/product-detail"><button class="Trabajos">Productos</button></a>
            </p>

            <p>
                <a href="/plasticos"><button class="Plasticos">Plasticos</button></a>
            </p>

            <p>
                <a href="/nosotros"><button class="Nosotros">Nosotros</button></a>
            </p>
        </div>
        <div class="slider-container">  
            <img
              class="slider-item"
              src="../images/carrusel/carrusel_1.png"
            />
            <img
              class="slider-item"
              src="../images/carrusel/carrusel_2.webp"
            />
            <img
              class="slider-item"
              src="../images/carrusel/carrusel_1.png"
            />
            <img
              class="slider-item"
              src="../images/carrusel/carrusel_2.webp"
            />
            <img
              class="slider-item"
              src="../images/carrusel/carrusel_1.png"
            />
          </div>  
        
    </article>

    
    
    <%- include('./partials/footer')  %>
    <main>

    </main>

    <!-- <footer>
        <img class="logo_footer" src="images/logo.png" alt="Logo">
    </footer> -->
</body>

</html>