<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/new-product-style.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Cargar nuevo producto</title>
</head>

<body>
    <%- include('./partials/header.ejs')  %>
    <main>
        <form action="/create" method="post" class="form-product" enctype="multipart/form-data" >
            <label for="nombre">Nombre del producto</label>
            <input type="text" name="name" required>
            <label for="descripcion-principal">Descripcion principal</label>
            <textarea name="descripcionPrincipal" id="" cols="30" rows="10"></textarea>
            <label for="descripcion-secundaria">Descripcion secundaria</label>
            <textarea name="descripcionSecundaria" id="" cols="30" rows="10"></textarea>
           <!--  <label for="imagenes">Imagenes</label>
            <input type="file"> 
            <!-- AGREGAR CANTIDAD DE ARCHIVOS -->
            <!-- EDITAR OPCIONES  -->
            <label for="dimensiones">Categoria</label>
                <select name="dimensiones" id="dimensiones">
                    <option value="Categoria1">Categoria1</option>
                    <option value="Categoria2">Categoria2</option>
                    <option value="Categoria3">Categoria3</option>
                    <option value="Categoria4">Categoria4</option>
                </select>
            <label for="cantidad">Color</label>
                <select name="cantidad" id="cantidad">
                    <option value="negro">Negro</option>
                    <option value="blanco">Blanco</option>
                    <option value="azul">Azul</option>
                </select>
            <label for="precio">Precio de venta</label>
            <input type= "number" name="precio">
            <div class="buttons-form">
                <button type="submit" class="button-form">Enviar</button>
            
                <button type="reset" class="button-form">Deshacer</button>
            </div>
            
        </form>



    </main>


    <%- include('./partials/footer')  %>
</body>
</html>