<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/new-product-style.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Cargar nuevo producto</title>
</head>

<body>
    <main>
        <form action="/product/create" method="post" class="form-product" enctype="multipart/form-data" >
            <label for="nombre">Nombre del producto</label>
            <input type="text" name="name" required>
            <label for="descripcion-principal">Descripcion principal</label>
            <textarea name="description" id="" cols="30" rows="10"></textarea>
            <label for="size">tamaño</label>
                <select name="size" id="size">
                    <option value="Categoria1">Small</option>
                    <option value="Categoria2">Medium</option>
                    <option value="Categoria3">Large</option>
                    <option value="Categoria4">Exta Large</option>
                </select>
            <label for="color">Color</label>
                <select name="color" id="color">
                    <option value="negro">Negro</option>
                    <option value="blanco">Blanco</option>
                    <option value="azul">Azul</option>
                </select>
            <label for="price">Precio de venta</label>
            <input type= "number" name="price">
               <label for="imagenesProducts">Imagenes</label>
                <input type="file" id="imagenesProducts" name="imagenesProducts" multiple > 
                
                <div class="buttons-form">
              
           
             
                <button type="submit" class="button-form">Enviar</button>
            
                <button type="reset" class="button-form">Deshacer</button>
            </div>
            
        </form>



    </main>


</body>
</html>