<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/nosotros.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Nosotros</title>
</head>
<body>
    <%- include('./partials/header.ejs')  %>
        <h1>Sobre nosotros</h1>
        <p>Somos una empresa apasionada por la innovación y la creatividad a través de la tecnología de impresión 3D. En cada proyecto, nos esforzamos por brindar soluciones vanguardistas y personalizadas que transformen ideas en realidades tangibles.

            Nuestro compromiso se centra en ofrecer la más alta calidad en impresiones 3D, utilizando materiales de última generación y equipos de vanguardia. Nos destacamos por nuestra atención al detalle, la precisión en cada diseño y la entrega puntual de cada proyecto.</p>
    <%- include('./partials/footer')  %>

</body>
</html>