<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productCartStyles.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Carrito de compra</title>
</head>
<body>
    <%- include('./partials/header.ejs')  %>
      <main>
        <h1 class="titular">Productos:</h1>
        <div class="lista_productos" >

      
        <div class="producto">
 
        <img class="carrusel" src="../images/carrusel/carrusel_1.png" alt="carrusel">
            <div    class="especificaciones">
                <h3 class="titular_producto">Soporte notebook</h3>
        <select class="select" name="dimensiones" id="dimensiones">
            <option value="s">Small</option>
            <option value="m">Medium</option>
            <option value="l">Large</option>
            <option value="xl">XLarge</option>
        </select>
        <select class="select" name="cantidad" id="cantidad">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="3">4</option>
            <option value="3">5</option>
        </select>
        <select class="select" name="color" id="color">
            <option value="yellow">Amarillo</option>
            <option value="red">Rojo</option>
            <option value="blue">Azul</option>
            <option value="orange">Naranja</option>
            <option value="brown">Marron</option>
        </select>
     <a class="trash" href="">  <i class="fas fa-trash" ></i></a> 
    </div>
     </div>
     <div class="producto">
 
        <img class="carrusel" src="../images/carrusel/carrusel_1.png" alt="carrusel">
            <div    class="especificaciones">
                <h3 class="titular_producto">Soporte notebook</h3>
        <select class="select" name="dimensiones" id="dimensiones">
            <option value="s">Small</option>
            <option value="m">Medium</option>
            <option value="l">Large</option>
            <option value="xl">XLarge</option>
        </select>
        <select class="select" name="cantidad" id="cantidad">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="3">4</option>
            <option value="3">5</option>
        </select>
        <select class="select" name="color" id="color">
            <option value="yellow">Amarillo</option>
            <option value="red">Rojo</option>
            <option value="blue">Azul</option>
            <option value="orange">Naranja</option>
            <option value="brown">Marron</option>
        </select>
      <a class="trash" href=""> <i class="fas fa-trash" ></i></a> 
    </div>
     </div>
     <div class="producto">
 
        <img class="carrusel" src="../images/carrusel/carrusel_1.png" alt="carrusel">
            <div    class="especificaciones">
                <h3 class="titular_producto">Soporte notebook</h3>
        <select class="select" name="dimensiones" id="dimensiones">
            <option value="s">Small</option>
            <option value="m">Medium</option>
            <option value="l">Large</option>
            <option value="xl">XLarge</option>
        </select>
        <select class="select" name="cantidad" id="cantidad">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="3">4</option>
            <option value="3">5</option>
        </select>
        <select class="select" name="color" id="color">
            <option value="yellow">Amarillo</option>
            <option value="red">Rojo</option>
            <option value="blue">Azul</option>
            <option value="orange">Naranja</option>
            <option value="brown">Marron</option>
        </select>
     <a class="trash" href="">   <i class="fas fa-trash"></i> </a>
    </div>
     </div>  
    </div>
            <div    class="botones_compra">
        <button class="boton">Seguir comprando</button>
        <button class="boton">Actualizar compra </button>
            </div>

      
        <div class="carro">
            <h1 class="total">Total:</h1>
            <div class="item">
                <span>Subtotal:</span>
                <span class="precio">$100.00</span>
            </div>
            <div class="item">
                <span>Envío:</span>
                <span class="precio">$10.00</span>
            </div>
            <div class="item total">
                <span>Total:</span>
                <span class="precio">$110.00</span>
            </div>
            <button class="finalizar">Finalizar compra</button>
        </div>
        
      </main>
      <%- include('./partials/footer')  %>
    <main>

    </main>
    
    <!-- <footer>
        <img class="logo_footer" src="images/logo.png" alt="Logo">
    </footer> -->
</body>
</html>