<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="productDetailStyle.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <title>3D World</title>
    </head>
<body>
    <header>
        <a href="/"><img class="logo_header" src="images/logo.png" alt="Logo"></a>
        <div>
        <i class="fas fa-search"></i> <!-- ICONO DE LUPA -->
        <input class="buscador" type="search" placeholder="Que desea buscar"> 
    </div>
    <div>
        <i class="fas fa-shopping-cart"></i>
        <i class="fas fa-user-plus"></i>
    </div>
    </header>
<!-- ACA COMIENZA EL MAIN -->
    <main class="main-detail-product">
        <h2 class="titulo-producto">Soporte Notebook</h2>
        
        <div class="sin-titulo">

        <section class="contenidoItem-carrusel">
        <div class="item-carrusel" id="imagen1">
            <div class="tarjeta-carrusel" id="tarjeta1">
                <img src="../images/carrusel/carrusel_1.png" alt="img-1">
            </div>
            <div class="flechas-carrusel">
                <a href="#imagen4"><i class="fas fa-arrow-alt-circle-left"></i></a>
                <a href="#imagen2"><i class="fas fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
        <div class="item-carrusel" id="imagen2">
            <div class="tarjeta-carrusel" id="tarjeta2">
                <img src="../images/carrusel/carrusel_2.webp" alt="img-2">
            </div>
            <div class="flechas-carrusel">
                <a href="#imagen1"><i class="fas fa-arrow-alt-circle-left"></i></a>
                <a href="#imagen3"><i class="fas fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
        <div class="item-carrusel" id="imagen3">
            <div class="tarjeta-carrusel" id="tarjeta3">
                <img src="../images/carrusel/carrusel_3.webp" alt="img-3">
            </div>
            <div class="flechas-carrusel">
                <a href="#imagen2"><i class="fas fa-arrow-alt-circle-left"></i></a>
                <a href="#imagen4"><i class="fas fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
        <div class="item-carrusel" id="imagen4">
            <div class="tarjeta-carrusel" id="tarjeta3">
                <img src="../images/carrusel/carrusel_4.webp" alt="img-4">
            </div>
            <div class="flechas-carrusel">
                <a href="#imagen3"><i class="fas fa-arrow-alt-circle-left"></i></a>
                <a href="#imagen1"><i class="fas fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
    </section>
    <section class="desc-corta">
        <p>Soporte ergonómico, ajustable y regulable para notebook.</p>
    </section>
    <section class="desc-larga">   
    <p>Accesorio esencial para cualquier persona que busque elevar su experiencia de trabajo o entretenimiento. Este soporte te permite ajustar el ángulo de tu notebook para lograr la posición de visualización más cómoda. Esto ayuda a reducir la tensión en el cuello y los hombros, mejorando la ergonomía.</p>
        <p>No solo es funcional, sino que también es elegante y amigable con el medio ambiente, gracias a su construcción en plástico PLA, un material biodegradable y sostenible.  </p>
    </section>    
    <section class="detail-product">
        <form action="">
            <div class="contenedor-botones-dimensiones">
                <label class="button-dimensiones" for="dimensiones">Dimensiones</label>
                <select class="select-dimensiones" name="dimensiones" id="dimensiones">
                    <option value="s">Small</option>
                    <option value="m">Medium</option>
                    <option value="l">Large</option>
                    <option value="xl">XLarge</option>
                </select>
            </div>
            <div class="contenedor-botones-cantidad">
                <label class="button-cantidad" for="cantidad">Cantidad</label>
                <select class="select-cantidad" name="cantidad" id="cantidad">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                    <option value="3">5</option>
                </select>
            </div>
            </form>
        </section>
        <div class="contenedor-boton-productCart">
        <a class="button-productCart" href="/productCart">Agregar a la bolsa de compras</a>
    </div>
        <section class="detail-buy">
            <a class="button" href="">Medios de pago</a>
            <a class="button" href="">Devolucion</a>
            <a class="button" href="">Compartir</a>
        </section>

    </div>

    </main>
<!-- ACA FINALIZA EL MAIN -->

    <footer>
        <div class="foter">
            <img class="logo_footer" src="images/logo.png" alt="Logo">
            <div class="redes_sociales">
                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.google.com/intl/es-419/gmail/about/" target="_blank"><i class="far fa-envelope"></i></a>
                <a href="https://www.whatsapp.com/?lang=es_LA" target="_blank"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
        <div class="terminos">
            <a href="">Acerca</a>
            <a href="">Ayuda</a>
            <a href="">Terminos</a>
            <a href="">Privacidad</a>
        </div>
    </footer>
</body>
</html>