<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="css/productos.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>3D World</title>
</head>
<body>
    <%- include('./partials/header.ejs')  %>
<div >
    <body>
        <h1>LISTADO DE PRODUCTOS</h1>
        <ul>
            <% for( let i = 0; i < locals.product; i++ ) { %>
            <li>
                <a href="/movies/detail/<%= product[i].id %>"><%= locals.product[i].name %></a>
            </li>
            <% } %>
        </ul>
        <ul>
            <a href="/product/create" id="CrearProducgto">Crear nuevo producto</a>
           
        </ul>
    </body>
</div>
    <%- include('./partials/footer')  %>
</body>
</html>