<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <title> Detalle del Producto</title>
    </head>
<body>
    <header>
        <img class="logo_header" src="images/logo.png" alt="Logo">
        <div>
        <i class="fas fa-search"></i> <!-- ICONO DE LUPA -->
        <input class="buscador" type="search" placeholder="Que desea buscar"> 
    </div>
    <div>
        <i class="fas fa-shopping-cart"></i>
        <i class="fas fa-user-plus"></i>
    </div>
    </header>

    <main class="main-detail-product">
        <h2>NOMBRE DEL PRODUCTO</h2>
        <section class="carrusel-imgs">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </section>
        <section class="detail-product">
            <a class="button" href="">Agregar a la bolsa de compras</a>
            <a class="button" href="">Dimensiones</a>
            <a class="button" href="">Cantidad</a>
        </section>
        <section class="desc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptates facilis optio ad sunt debitis doloremque tenetur consectetur sequi natus, unde distinctio eum velit atque commodi ipsum, cum deleniti earum.</p>
        </section>
        <section class="detail-buy">
            <a class="button" href="">Metodos de pago</a>
            <a class="button" href="">Devolucion</a>
            <a class="button" href="">Envio</a>
        </section>


    </main>



    <footer></footer>
</body>
</html>