<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="productCartStyles.css">
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Carrito de compra</title>
</head>
<body>
    <header>
        <img class="logo_header" src="images/logo.png" alt="Logo">
        <div>
        <i class="fas fa-search"></i> <!-- ICONO DE LUPA -->
        <input class="buscador" type="search" placeholder="Que desea buscar"> 
    </div>
    <div>
        <i class="fas fa-user-plus"></i>
        <i class="fas fa-shopping-cart"></i>
    </div>
    </header>
        <article    class="cuerpo">
 <h1> Soporte notebook</h1>
    <img class="carrusel" src="../images/carrusel/carrusel_1.png" alt="carrusel">
    <button>
        Agregar a la bolsa de compra
    </button>
    <button>Dimensiones</button>
    <button>Cantidad</button>
    <button>Color</button>
    <h3>Descripción</h3>

    <p>El soporte de notebook de plástico PLA impreso en 3D es un accesorio esencial para cualquier persona que busque elevar su experiencia de trabajo o entretenimiento con una laptop o notebook. Este soporte no solo es funcional, sino que también es elegante y amigable con el medio ambiente, gracias a su construcción en plástico PLA, un material biodegradable y sostenible.  Este soporte te permite ajustar el ángulo de tu notebook para lograr la posición de visualización más cómoda. Esto ayuda a reducir la tensión en el cuello y los hombros, mejorando la ergonomía. </p>
    
    <button>Metodos de pagos</button>
    <button>Compartir</button>
    <button>Devolucion y envio</button>

        </article>
   

    <footer>

        <div    class="foter">
             <img class="logo_footer" src="images/logo.png" alt="Logo"> 

          <div class="redes_sociales">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
            <i class="far fa-envelope"></i>
            <i class="fab fa-whatsapp"></i>
                    </div>
        </div>
       


        <div class="terminos">
            <a href="">Acerca</a>
            <a href="">Ayuda</a>
            <a href="">Terminos</a>
            <a href="">Privacidad</a>      
        </div>
      
    </footer>
    <main>

    </main>
    
    <!-- <footer>
        <img class="logo_footer" src="images/logo.png" alt="Logo">
    </footer> -->
</body>
</html>