<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="productDetailStyle.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <title>3D World</title>
    </head>
<body>
    <header>
        <a href="/"><img class="logo_header" src="images/logo.png" alt="Logo"></a>
        <div>
        <i class="fas fa-search"></i> <!-- ICONO DE LUPA -->
        <input class="buscador" type="search" placeholder="Que desea buscar"> 
    </div>
    <div>
        <i class="fas fa-shopping-cart"></i>
        <i class="fas fa-user-plus"></i>
    </div>
    </header>
<!-- ACA COMIENZA EL MAIN -->
    <main class="main-detail-product">
        <h2 class="titulo-producto">NOMBRE DEL PRODUCTO</h2>
        
        <section class="contenidoItem-carrusel">
        <div class="item-carrusel" id="imagen1">
            <div class="tarjeta-carrusel" id="tarjeta1">A</div>
            <div class="flechas-carrusel">
                <a href="#imagen4"><i class="fas fa-arrow-alt-circle-left"></i></a>
                <a href="#imagen2"><i class="fas fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
        <div class="item-carrusel" id="imagen2">
            <div class="tarjeta-carrusel" id="tarjeta2">B</div>
            <div class="flechas-carrusel">
                <a href="#imagen1"><i class="fas fa-arrow-alt-circle-left"></i></a>
                <a href="#imagen3"><i class="fas fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
        <div class="item-carrusel" id="imagen3">
            <div class="tarjeta-carrusel" id="tarjeta3">C</div>
            <div class="flechas-carrusel">
                <a href="#imagen2"><i class="fas fa-arrow-alt-circle-left"></i></a>
                <a href="#imagen4"><i class="fas fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
        <div class="item-carrusel" id="imagen4">
            <div class="tarjeta-carrusel" id="tarjeta3">D</div>
            <div class="flechas-carrusel">
                <a href="#imagen3"><i class="fas fa-arrow-alt-circle-left"></i></a>
                <a href="#imagen1"><i class="fas fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
    </section>
        <section class="detail-product">
            <form action="">
                <div>
                <label for="dimensiones">Dimensiones</label>
                <select name="dimensiones" id="dimensiones">
                    <option value="10x10">10x10</option>
                    <option value="20x20">20x20</option>
                    <option value="30x30">30x30</option>
                </select>
            </div>
            <div>
                <label for="cantidad">Cantidad</label>
                <select name="cantidad" id="cantidad">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            </form>
            <a class="button" href="/productCart">Agregar a la bolsa de compras</a>
        </section>

        <section class="desc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        <section class="detail-buy">
            <a class="button" href="">Metodos de pago</a>
            <a class="button" href="">Devolucion</a>
            <a class="button" href="">Envio</a>
        </section>


    </main>
<!-- ACA FINALIZA EL MAIN -->


    <footer>
        <div class="foter">
            <img class="logo_footer" src="images/logo.png" alt="Logo">
            <div class="redes_sociales">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook"></i>
                <i class="far fa-envelope"></i>
                <i class="fab fa-whatsapp"></i>
            </div>
        </div>
        <div class="terminos">
            <a href="">Acerca</a>
            <a href="">Ayuda</a>
            <a href="">Terminos</a>
            <a href="">Privacidad</a>
        </div>
    </footer>
</body>
</html>