<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/profile.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>3D World</title>
</head>
<body>
    
    <main>
        <% include('./partials/header.ejs')  %>

        <div id="registration-container">
            <h2>Tu perfil <%= locals.user.name + " " + locals.user.lastname%></h2>

            
                <label for="name">Nombre:</label>
                <h1><%= locals.user.name %></h1>
                
                  <label for="lastname">Apellido:</label>
                  <h1><%= locals.user.lastname %></h1>

                
                <label for="email">Email:</label>
                <h1><%= locals.user.email %></h1>

                <button type="button"><a href="/user/edit">Editar tu perfil</a></button>

                <button type="button"><a href="/user/logout">Cerrar Sesion</a></button>

                <button type="button"><a href="/">Volver a la home</a></button>
        </div>
    </main>
</body>