*{
    margin: 0;
    padding: 0;
}
.titulo_nosotros {
    margin: 2vw;
}
.textos_nosotros{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.flex_nosotros {
    display: flex;
}

.parrafo_nosotros {
    margin: 2vw;
}

.imagen_nosotros {
    height: 50vw;    
}