
/* PALETA DE COLORES A UTILIZAR */

/* 
Hex: #FFFFFF (Texto)

Hex: #303056 (Primario)

Hex: #47077F (detalles)

Hex: #6248C7 (detalles)

Hex: #8373C4 (Secundario)

Hex: #000000 (Texto)  */


/* ESTILO DETALLE DEL PRODUCTO */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ESTILO DEL MAIN */

.main-detalle-del-producto{
    display: flex;
    padding: 4px;
    margin-top: 4px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-producto{
    font-size: 18px;
    text-align: center;
    padding: 2px;
    margin: 2px;
    color: #FFFFFF;
}

.division-del-main{
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}

/* ESTILO DEL CARRUSEL */
.seccion-del-carrusel{
    border: solid 2px #47077F;
    height: 225px;
    overflow: hidden;
}

.contenedor-img-del-carrusel{
    width: 60vw;
    height: 100%;
    justify-content: center;
    position: relative;
}

.img-del-carrusel{
    height: 100%;
    width: 100%;
}

main section img{
    width: 100%;
    height: 100%;
}

.flechas-carrusel{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.fa-arrow-alt-circle-left, .fa-arrow-alt-circle-right {
    color: #47077F;
} 

 /* SECCION DE BOTONES PARA ELECCION  */

.seccion-elecciones-de-compra{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1px;
    flex-direction: column;
} 
.seccion-elecciones-de-compra div{
    padding: 2px;
    margin: 2px;
}
.seccion-detalles-de-compra{
    display: none;
    padding: 2px;
    margin: 3px;
    justify-content: space-between;
}
/* CONTENEDORES DE BOTONES  */

.contenedor-botones-dimensiones{
    width: 45vw;
}
.contenedor-botones-color{
    width: 45vw;
}
.contenedor-boton-agregar-al-carrito{
    width: 75vw;
}

/* ESTILO DE TODOS LOS BOTONES  */
.boton-dimensiones{
    background-color: #FFFFFF;
    color: #000000;
    padding: 2px;
    margin: 2px;
    border: 2px solid #47077F;
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.seleccionar-dimensiones{
    background-color: #FFFFFF;
    color: #000000;
    padding: 2px;
    margin: 2px;
    border: 2px solid #47077F;
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.boton-colores{
    background-color: #FFFFFF;
    color: #000000;
    padding: 2px;
    margin: 2px;
    border: 2px solid #47077F;
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.seleccionar-colores{
    background-color: #FFFFFF;
    color: #000000;
    padding: 2px;
    margin: 2px;
    border: 2px solid #47077F;
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.boton-al-carrito{
    background-color: #FFFFFF;
    color: #000000;
    font-style: unset;
    padding: 2px;
    margin: 2px;
    border: 2px solid #47077F;
    border-radius: 8px;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.boton{
    background-color: #FFFFFF;
    color: #000000;
    padding: 2px;
    margin: 2px;
    border: 2px solid #47077F;
    border-radius: 8px;
    text-decoration: none;
    width: 30%;
    text-align: center;
}

/* DESCRIPCIONES DEL PRODUCTO */

.descripcion-corta{
    font-size: 16px;
    padding: 2px;
    margin: 5px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.descripcion-larga{
    font-size: 12px;
    padding: 1px;
    margin: 1px;
    margin-bottom: 4px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* 1ER MEDIA QUERIES */

/* 1ER MEDIA QUERIES */

/* 1ER MEDIA QUERIES */

/* 1ER MEDIA QUERIES */
@media (min-width: 576px){
    .titulo-producto{
        font-size: 22px;
        margin-top: 10px;
    }
    .division-del-main{
        margin-top: 10px;
    }
    .seccion-del-carrusel{
        height: 175px;
        display: flex;
        width: 80vw;
        border: none;
        flex-direction: row;
        flex-wrap: nowrap;
        border: none;
    }
    /* .contenedor-img-del-carrusel{
        width: 60vw;
        height: 100%;
        justify-content: center;
        position: relative;
    } */
    .img-del-carrusel{
        height: 95%;
        width: 95%;
        border: 2px solid #47077F;
    }
    main section img{
        width: 100%;
        height: 100%;
    }
    .flechas-carrusel{
        display: none;
    }
    .seccion-detalles-de-compra{
        display: flex;
        padding: 4px;
        margin: 5px;
        justify-content: space-between;
        width: 75vw;
    }
    .descripcion-corta{
        font-size: 20px;
    }
    .descripcion-larga{
        font-size: 16px;
    }
    /* form {
        display: inline;
        flex-wrap: nowrap;
    } */
    
} 


/* 2DA MEDIA QUERIES */

/* 2DA MEDIA QUERIES */

/* 2DA MEDIA QUERIES */

/* 2DA MEDIA QUERIES */
@media (min-width: 1024px){
    .main-detalle-del-producto{
        align-items: start;
    }
    .titulo-producto{
        font-size: 28px;
        margin-left: 8px;
        transition: all 450ms;
    }
    .titulo-producto:hover{
        transform: scale(1.15);
    }
    .division-del-main{
        display: flex;
        padding: 4px;
        flex-direction: row;
        align-items: start;
        justify-content: start;
        height: auto;
        flex-wrap: wrap;
    }
    .seccion-del-carrusel{
        height: 45vh;
        display: flex;
        width: 35vw;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-evenly;
        align-items: center;
        margin-left: 8px;
    }
    .contenedor-img-del-carrusel{
        width: 48%;
        height: 48%;
        justify-content: center;
        position: relative;
        margin: 1px;
    }
    .descripcion-general{
        display: flex;
        width: 35vw;
        flex-direction: column;
    }
    .descripcion-corta{
        font-size: 24px;
    }
  
    .descripcion-larga{
        font-size: 18px;
    }
   
    /* .img-del-carrusel{
        border: none;
    } */
    main section img{
        transition: all 450ms;
    }
    main section img:hover{
        box-shadow: 2px 2px 10px #47077F;
        transform: scale(1.1);
    }

    .seccion-elecciones-de-compra {
        flex-direction: column;
        width: 25vw;
    }
    .seccion-elecciones-de-compra form {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly
    }
    
    .seccion-detalles-de-compra{
        display: flex;
        padding: 4px;
        margin: 5px;
        justify-content: space-between;
        width: 75vw;
        display: flex;
    }
    .contenedor-botones-dimensiones{
        width: 45vw;
    }
    .contenedor-botones-color{
        width: 45vw;
    }
    .contenedor-boton-agregar-al-carrito{
        width: 90vw;
    }
    .boton-dimensiones, .seleccionar-colores, .boton-colores, .seleccionar-dimensiones{
        margin-bottom: 50px;
        font-size: 20px;
}
    .boton-al-carrito, .boton{
        font-size: 20px;
    }
    .contenedor-botones-abajo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
        position: relative;
        left: 60px;
    }
    .seleccionar-colores:hover, .seleccionar-dimensiones:hover, .boton-al-carrito:hover, .boton:hover{
        transition: all 450ms;
    }
    .seleccionar-colores:hover, .seleccionar-dimensiones:hover, .boton-al-carrito:hover, .boton:hover{
        transform: scale(1.05);
        background-color: #47077F;
        color: #FFFFFF;

    }
    
} 

 /* 3ERA MEDIA QUERIS  */

 /* 3ERA MEDIA QUERIS  */

/* 3ERA MEDIA QUERIS  */
    
/* 3ERA MEDIA QUERIS  */
@media (min-width: 1440px) {
    .titulo-producto{
        font-size: 34px;
        margin-left: 8px;
    }
    .seccion-del-carrusel{
        height: 55vh;
        width: 40vw;
}
    .descripcion-general{
        display: flex;
        width: 24vw;
        flex-direction: column;
}
    .descripcion-corta{
        font-size: 32px;
}
    .descripcion-larga{
        font-size: 24px;
}
    .seccion-elecciones-de-compra {
    flex-direction: column;
    width: 25vw;
}
    .seccion-elecciones-de-compra form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly
}
    .boton-dimensiones, .seleccionar-colores, .boton-colores, .seleccionar-dimensiones, .boton-al-carrito, .boton {
        font-size: 26px;
    }
}