/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #303056;
    color: #000000;
}

/* Encabezado y pie de página ocultos cuando se muestra el formulario */
header, footer {
    display: none;
}

/* Contenedor principal del formulario */
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca el fondo detrás del contenido */
}
/* Contenedor principal del formulario */
main {
    position: relative;
    text-align: center;
    padding: 20px;

    z-index: 1;
}

/* Contenedor para el formulario */
#registration-container {
    background-color: #FFFFFF;
    border: 5px solid #47077F;
    border-radius: 20px;
    padding: 20px;
    width: 33%; /* El formulario ocupará un tercio del ancho de la página */
    margin:  auto; /* Centrar horizontalmente */
    box-sizing: border-box; /* Incluir el borde en el ancho total */

}

#registration-container h2 {
    color: #47077F;
}
/* Estilos para etiquetas y campos de entrada en el formulario */
label {
    display: block;
    margin-bottom: 10px;
    text-align: start;
}


input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    background-color: #D1D1EF; /* Fondo de campos a rellenar */
    border: 2px solid #8373C4;
    border-radius: 12px;
    margin-bottom: 10px;
    color: black; /* Color de texto en campos */
    box-sizing: border-box; /* Incluir el borde en el ancho total */
}


/* Estilos para el botón de enviar en el formulario */
button[type="submit"],
button[type="button"]{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 2px solid #7E5EFF;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; /* Para evitar que el botón se superponga con los campos */
    margin: 10px auto; /* Centrar horizontalmente */
}

button[type="submit"]:hover {
    background-color: #D1D1EF;
}


/* Media queries para tamaños de pantalla*/
@media screen and (max-width: 768px) {
    /* Estilos para tablet */
    #registration-container {
        width: 70%; /* Cambia el ancho del formulario para tablet */
    }
}

@media screen and (max-width: 576px) {
    /* Estilos para celular */
    #registration-container {
        width: 90%; /* Cambia el ancho del formulario para celular */
    }
}
