<footer>
    <div class="foter">
        <img class="logo_footer" src="images/logo.png" alt="Logo">
        <div class="redes_sociales">
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.google.com/intl/es-419/gmail/about/" target="_blank"><i class="far fa-envelope"></i></a>
            <a href="https://www.whatsapp.com/?lang=es_LA" target="_blank"><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>
    <div class="terminos">
        <a href="">Acerca</a>
        <a href="">Ayuda</a>
        <a href="">Terminos</a>
        <a href="">Privacidad</a>
    </div>
</footer>