<header>
    <a href="/" class="logo_header"><img  src="/images/logo.png" alt="Logo"></a>
    <div>
        <form id="busquedaylupa">
            <input class="buscador" type="text" placeholder="Que desea buscar">
            <button id="botonLupa"><i class="fas fa-search"></i> <!-- ICONO DE LUPA --></button>
        </form>
</div>
<div>
    <div>
        <a href="/user/login" id="enlaceLogin"><i class="fas fa-user-plus"></i></a>
        <a href="/product/productCart"><i class="fas fa-shopping-cart"></i></a>
    </div>
</div>
</header>