*{
    box-sizing: border-box;
}


p{
    font-weight: bold;
}

h2{
    text-align: center;
    color: #47077F;
}

button{
    border-color: #47077F;
    border-radius: 5px;
}

.pinputs{
    display: flex;
    justify-content: center;
}

.pbotones{
    display: flex;
    justify-content: space-around;
}

input{
    background-color: #a89ada;
    border-radius: 5px;
    flex-grow: 0.95;
}

main{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-login{
    border-radius: 15px;
    border: solid 3px #47077F;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
    
}

@media (max-width: 361px){ /* Mobile */
    .mobile-none{
        display: none;
    }
}

@media (min-width: 361px){ /* Tablets */
    .tablets-none{
        display: none;
    }
}

@media (min-width: 769px){ /* Laptop */
    .laptop-none{
        display: none;
    }
}