/* 
Hex:#FFFFFF (Texto)

Hex:#303056 (Primario)

Hex:#47077F (detalles)

Hex:#6248C7 (detalles)

Hex:#8373C4 (Secundario)

Hex:#000000 (Texto) 
*/


/* ESTILO DETALLE DEL PRODUCTO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-detail-product{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo-producto{
    font-size: 18px;
    text-align: center;
    padding: 2px;
    margin: 2px;
    color: #FFFFFF;
}
.contenidoItem-carrusel{
    border: solid 1px #000000;
    height: 125px;
    overflow: hidden;
}
.item-carrusel{
    width: 60vw;
    height: 100%;
    justify-content: center;
    position: relative;
}
.tarjeta-carrusel{
    border: solid 1px #000000;
    height: 100%;
    width: 100%;
}
main section img{
    width: 100%;
    height: 100%;
}
.flechas-carrusel{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
i{
    color: #000000;
}
.detail-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2px;
    flex-direction: column;
} 
.detail-product div{
    padding: 2px;
    margin: 2px;
}
.button-dimensiones{
    background-color: #FFFFFF;
    color: #000000;
    padding: 2px;
    margin: 2px;
    border: 2px solid #8373C4;
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.select-dimensiones{
    background-color: #FFFFFF;
    color: #000000;
    padding: 2px;
    margin: 2px;
    border: 2px solid #8373C4;
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.button-cantidad{
    background-color: #FFFFFF;
    color: #000000;
    padding: 2px;
    margin: 2px;
    border: 2px solid #8373C4;
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.select-cantidad{
    background-color: #FFFFFF;
    color: #000000;
    padding: 2px;
    margin: 2px;
    border: 2px solid #8373C4;
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.button-productCart{
    background-color: #FFFFFF;
    color: #000000;
    font-style: unset;
    padding: 2px;
    margin: 2px;
    border: 2px solid #8373C4;
    border-radius: 8px;
    text-decoration: none;
    width: 80%;
    display: inline-block;
    text-align: center;
}
.button{
    background-color: #FFFFFF;
    color: #000000;
    padding: 2px;
    margin: 2px;
    border: 2px solid #8373C4;
    border-radius: 8px;
    text-decoration: none;
}
.desc{
    padding: 2px;
    margin: 3px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.desc-corta{

}
.desc-larga{
    display: none;
}
.detail-buy{
    display: none;
    padding: 2px;
    margin: 3px;
    justify-content: space-between;
}
/* 1ER MEDIA QUERIES */
@media (min-width: 425px){
    .titulo-producto{
        font-size: 22px;
    }
    .contenidoItem-carrusel{
    height: 125px;
    display: flex;
    width: 85vw;
    flex-direction: row;
    }
    .flechas-carrusel{
        display: none;
    }
    .desc-corta{
        font-size: 18px;
    }
    form {
        display: inline;
        flex-wrap: nowrap;
    }
    .detail-buy{
        display: flex;
        padding: 4px;
        margin: 5px;
        justify-content: space-between;
    }
} 


/* 2DA MEDIA QUERIES */
@media (min-width: 768px){
    .main-detail-product{
        display: flex;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contenidoItem-carrusel{
        height: 125px;
        display: flex;
        width: 85vw;
        flex-direction: row;
    }
    .desc-corta{
        font-size: 20px;
    }
    .desc-larga{
        font-size: 16px;
        text-align: center;
    }
    form {
        display: inline;
        flex-wrap: nowrap;
    }
    .detail-buy{
        display: flex;
        padding: 4px;
        margin: 5px;
        justify-content: space-between;
    }
    .desc-larga{
        display: flex;
    };
} 


/* 3ERA MEDIA QUERIES */
@media (min-width: 992px){
    .contenidoItem-carrusel{
        height: 125px;
        display: flex;
        width: 85vw;
        flex-direction: row;
        }
} 