/* 
Hex:#FFFFFF (Texto)

Hex:#303056 (Primario)

Hex:#47077F (detalles)

Hex:#6248C7 (detalles)

Hex:#8373C4 (Secundario)

Hex:#000000 (Texto) 
*/


/* ESTILO DETALLE DEL PRODUCTO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*  */
.sin-titulo{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*  */


.main-detail-product{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo-producto{
    font-size: 18px;
    text-align: center;
    padding: 2px;
    margin: 2px;
    color: #FFFFFF;
}
.contenidoItem-carrusel{
    /* border: solid 1px #000000; */
    height: 125px;
    overflow: hidden;
}
.item-carrusel{
    width: 60vw;
    height: 100%;
    justify-content: center;
    position: relative;
}
.tarjeta-carrusel{
    /* border: solid 1px #000000; */
    height: 100%;
    width: 100%;
}
main section img{
    width: 100%;
    height: 100%;
}
.flechas-carrusel{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
i{
    color: #000000;
}
.fa-arrow-alt-circle-left, .fa-arrow-alt-circle-right {
    color: #8373C4;
} 
.detail-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2px;
    flex-direction: column;
} 
.detail-product div{
    padding: 2px;
    margin: 2px;
}

/*  */
.contenedor-botones-dimensiones{
    width: 45vw;
}
.contenedor-botones-cantidad{
    width: 45vw;
}
.contenedor-boton-productCart{
    width: 75vw;
}
/*  */

.button-dimensiones{
    background-color: #FFFFFF;
    color: #000000;
    padding: 2px;
    margin: 2px;
    border: 2px solid #8373C4;
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.select-dimensiones{
    background-color: #FFFFFF;
    color: #000000;
    padding: 2px;
    margin: 2px;
    border: 2px solid #8373C4;
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.button-cantidad{
    background-color: #FFFFFF;
    color: #000000;
    padding: 2px;
    margin: 2px;
    border: 2px solid #8373C4;
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.select-cantidad{
    background-color: #FFFFFF;
    color: #000000;
    padding: 2px;
    margin: 2px;
    border: 2px solid #8373C4;
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.button-productCart{
    background-color: #FFFFFF;
    color: #000000;
    font-style: unset;
    padding: 2px;
    margin: 2px;
    border: 2px solid #8373C4;
    border-radius: 8px;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.button{
    background-color: #FFFFFF;
    color: #000000;
    padding: 2px;
    margin: 2px;
    border: 2px solid #8373C4;
    border-radius: 8px;
    text-decoration: none;
    width: 30%;
    text-align: center;
}
.desc-corta{
    padding: 2px;
    margin: 3px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.desc-larga{
    display: none;
}
.detail-buy{
    display: none;
    padding: 2px;
    margin: 3px;
    justify-content: space-between;
}
/* 1ER MEDIA QUERIES */
@media (min-width: 425px){
    
    .sin-titulo{
        display: flex;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-detail-product{
        display: flex;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .titulo-producto{
        font-size: 22px;
    }
    .contenidoItem-carrusel{
        height: 125px;
        display: flex;
        width: 85vw;
        flex-direction: row;
    }
    .item-carrusel{
        width: 60vw;
        height: 100%;
        justify-content: center;
        position: relative;
    }
    .tarjeta-carrusel{
        /* border: solid 1px #000000; */
        height: 95%;
        width: 95%;
        border: 1px solid #8373C4;
    }
    main section img{
        width: 100%;
        height: 100%;
    }
    .flechas-carrusel{
        display: none;
    }
    i{
        color: #000000;
    }
    .detail-product{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 2px;
        flex-direction: column;
    } 
    .detail-product div{
        padding: 2px;
        margin: 2px;
    }
    form {
        display: inline;
        flex-wrap: nowrap;
    }
    .desc-corta{
        font-size: 18px;
        padding: 2px;
        margin: 3px;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .detail-buy{
        display: flex;
        padding: 4px;
        margin: 5px;
        justify-content: space-between;
        width: 75vw;
    }
} 


/* 2DA MEDIA QUERIES */
@media (min-width: 790px){
    .main-detail-product{
        display: flex;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .titulo-producto{
        width: 100vw;
        text-align: start;
        position: relative;
        left: 80px;
    }
    .sin-titulo{
        display: flex;
        padding: 10px;
        flex-direction: row;
        align-items: start;
        justify-content: start;
        width: 100vw;
        height: 90vh;
        flex-wrap: wrap;
    }
    .contenidoItem-carrusel{
        height: 60vh;
        display: flex;
        width: 40vw;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-evenly;
        align-items: center;
        margin-left: 8px;
    }
    .item-carrusel{
        width: 48%;
        height: 48%;
        justify-content: center;
        position: relative;
        margin: 1px;
    }
    .tarjeta-carrusel{
        height: 95%;
        width: 95%;
    }
    main section img{
        width: 100%;
        height: 100%;
    }
    .descripcion{
        display: flex;
        width: 55vw;
        flex-direction: column;
    }
    .desc-corta{
        font-size: 22px;
        padding: 2px;
        margin: 3px;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
    }
    .desc-larga{
        display: flex;
        padding: 2px;
        margin: 3px;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        font-size: 16px;
    }
    form {
        display: flex;
        flex-wrap: nowrap;
        width: 40vw;
        position: relative;
        left: 430px;
        bottom: 80px;
        justify-content: space-evenly
    }
    .detail-product {
        flex-direction: column;
        width: 25vw;
    }
    .detail-buy{
        display: flex;
        padding: 4px;
        margin: 5px;
        justify-content: space-between;
        width: 75vw;
        display: flex;
        position: relative;
        left: 90px;
        bottom: 60px;
    }
    
    .contenedor-botones-dimensiones{
        width: 45vw;
    }
    .contenedor-botones-cantidad{
    width: 45vw;
    }
    .contenedor-boton-productCart{
    width: 75vw;
    position: relative;
    left: 95px;
    bottom: 60px
    }
} 


/* 3ERA MEDIA QUERIES */



@media (min-width: 950px){
    .desc-corta{
        font-size: 26px;
    }
    .desc-larga{
        font-size: 18px;
    }
    form {
        position: relative;
        left: 470px;
        bottom: 80px;
    }
}


@media screen and (min-width: 1100px){
    form {
        position: relative;
        left: 650px;
        bottom: 90px
    }
}