*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #303056;
}
header {
    background-color: #8373C4;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_header {
    width: 25vw;
    height: auto;
    display: flex;
    padding: 5px;
}
.buscador{
    width: 40vw;
    padding: 5px;
    font-size: 10px;
    border: solid 1px white;
    border-radius: 8px;
} 
.fa-user-plus, .fa-shopping-cart {
   
    margin: 2px;
    font-size: 20px;
}
.fa-shopping-cart {
    padding-right: 10px;
}
footer {
    background-color: #8373C4;
    width: 100vw;
    height: auto;
    /* position: absolute;
    bottom: 0;
    margin-top: auto; */
}
.foter {
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
}
.logo_footer {
    width: 25vw;
    height: auto;
    align-self: center;
}
.redes_sociales {
    align-self: center; 
    flex-grow: 0.21;
}
.redes_sociales i {
    font-size: 25px;
    padding: 3%;
}
.terminos {
    display: flex;
    justify-content: center;
    font-style: italic;
}
.terminos a {
    padding: 0% 2% 2% 0% ;
    padding-bottom: 5px;
    color: #ffffff;
}
<<<<<<< HEAD
.inicio {
    color: rgb(172, 46, 172); 
    padding: 15px 30px;
    border: 2px solid rgb(172, 46, 172); 
    border-radius: 10px;
    margin-bottom: 30px; 
    margin-top: 30px;
    cursor: pointer; 
}
.Trabajos {
    color: rgb(172, 46, 172); ; 
    padding: 15px 30px;
    border: 2px solid rgb(172, 46, 172); ;
    border-radius: 10px;
    margin-bottom: 30px; 
    cursor: pointer; 
}
.Plasticos {
    color: rgb(172, 46, 172); ; 
    padding: 15px 30px; 
    border: 2px solid rgb(172, 46, 172); ;
    border-radius: 10px;
    margin-bottom: 30px; 
    cursor: pointer; 
}
.Nosotros {
    color: rgb(172, 46, 172); ; 
    padding: 15px 30px; 
    border: 2px solid rgb(172, 46, 172); ;
    border-radius: 10px;
    margin-bottom: 30px; 
    cursor: pointer; 
}
.botones {
    flex: 1;
    display: flex;
    flex-direction: column;
}
article div{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
}
.img-3{
    flex: 1;
    width: 20%;
    height: 2%;
=======

<<<<<<< HEAD

@media (min-width: 768px)  {
=======
#enlaceRegistrarse {
    color: #551A8B;
>>>>>>> b548ae1ea1a2f0eb3411fcc20c216eac908725ee
}
>>>>>>> 053fad4afffaf456d40fdebba61021b5ce449dd9

    
    .logo_header {
        width: auto;
        height: 90%;
       
    }
    .buscador {
        width: 20vw;
    }
    .fa-shopping-cart {
        padding-right: 20px;
    }
    .foter {
        height: 90px;
    }
   .redes_sociales {
     flex-grow: 0.08;
   }
    .logo_footer {
        width: auto;
        height: 100%;
        align-items: center; 
        margin-top: 3vh;
    }
  
}