*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #303056;
}
header {
    background-color: #8373C4;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_header {
    width: 25vw;
    height: auto;
    display: flex;
    padding: 5px;
}
.buscador{
    width: 40vw;
    padding: 5px;
    font-size: 10px;
    border: solid 1px white;
    border-radius: 8px;
} 
.fa-user-plus, .fa-shopping-cart {
    padding: 5px;
    margin: 2px;
    font-size: 20px;
}

footer {
    background-color: #8373C4;
    width: 100vw;
    height: 14vh;
    position: absolute;
    bottom: 0;
    margin-top: auto;
}
.foter {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.logo_footer {
    width: 25vw;
    height: auto;
    align-self: center;
}
.redes_sociales {
    align-self: center; 
    flex-grow: 0.3;
}
.redes_sociales i {
    font-size: 25px;
    padding: 3%;
}
.terminos {
    display: flex;
    justify-content: center;
    font-style: italic;
}
.terminos a {
    padding: 0% 2% 2% 2% ;
    padding-bottom: 5px;
}



